
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SJ's E-Library</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/styles.css" />

  </head>
  
  <body>
    <!--<img src="/images/books1.jpg" class="img-bg">   -->
      <div class="container-fluid">
        <h1 class="cover-heading">Book Sharer</h1>
        <p class="lead">Book Sharer is a user centric online book inventory and lending place.<br> Both online as well as offline systems supported! </p>
        <p class="lead">
          <a href="/register" class="btn btn-md btn-secondary">Register</a>
          <a href="/login" class="btn btn-md btn-secondary">Login</a>
        </p>
        <p><button onclick="window.location.href='/books'" class="btn btn-lg btn-primary">Books View</button></p>



     <%- include('partials/footer') %>
    </div>  
  </body>
</html>

