<%- include('partials/header') %>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dashboard</a>
        <a class="navbar-link" href="#">Books View</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"> 
        </button>
    </nav>
    <h1>Welcome <%= username %>!</h1>

<%- include('partials/footer') %>
 
</body>
</html>