/*
 * Globals
 */


/*
 * Base structure
 */
html{
  height: 100%;
}
body {
  height: 100%;
  background-image: url("/images/books1.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  background-color: black; 
  color: #fff;
  
}

.container-fluid {
  padding: 70px 0 0 90px;
}
p.lead{
  font-weight: 500;
  font-style: italic;
}

/*
 * Header
 */


/*
 * Cover
 */

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color:darkslategray;*/
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding: 20px 0 20px 0;
}